.InfoBlock {
    width: clamp(50%, 700px, 90%);
    height: min(50%, 300px);
    margin: auto;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    left: 0;
    top: 0;

    background-color: green;
}