.SearchResult {
    padding: 5px;
    border: #daccbb;
}

.SearchResult > p:nth-child(1) {
    color: blue;
}

.SearchResult:hover {
    background-color: #daccbb;
    border-radius: 5px;
}

.MoreInfoButton {
    font-size: .8em;
    display: block;
    margin-left: auto;
    margin-bottom: 0;
    padding: 5px;
    background-color: rgb(166, 142, 112);
}

.test {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
}