.SearchBarContainer {
  text-align: center;
}

.SearchBarSuggestion {
  margin-right: 20px;
}

input {
  width: 40%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input::placeholder {
  font-style: italic;
}

.SearchBarSide {
  display: inline-block;
}

.SearchButton {
  font-size: 1em;
}

button > img {
  width: 25px;
  height: 25px;
}