.SearchResultsContainer {
    display: block;
    margin: auto;
    width: 40%;
    padding: 15px;
    background-color: #faebd7;
    border: 2px solid #ccc;
    border-radius: 5px;
    color: rgb(28, 28, 28);
}