.SearchBarContainer {
  text-align: center;
  display: block;
  margin: auto;
  width: 80%;
}

.SearchBarSuggestion {
  margin-right: 20px;
}

.InputWrapper {
  display: inline-block;
  width: 45%;
  height: 2.5rem;
  box-shadow: 0 0 20px #ddd;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input {
  height: 100%;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

input::placeholder {
  font-style: italic;
}

.SearchBarSide {
  display: inline-block;
  position: relative;
  left: 10px;
}

.SearchButton {
  font-size: 1em;
}

button > img {
  width: 25px;
  height: 25px;
}