.TitleContainer {
    text-align: center;
    display: table;
    margin: 100px auto 0 auto;
  }
  
  .Title {
    text-align: center;
    color: #04aa6d;
    font-family: 'Ubuntu', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.25em;
    font-weight: 600;
    margin: 10px;
    vertical-align: middle;
  }
  
  .TitleLogo {
    width: 55px;
    height: 55px;
    position: relative;
    vertical-align: middle;
  }
  
  .TitleLogo:hover {
    animation: jiggle 0.5s ease;
  }

  @keyframes jiggle {
    0% { transform: rotate(-5deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
  }